
body {
    background-color: rgba(238,215,163,255);
    font-size: 1.2em;
    display: block;
    margin-left: auto;
    margin-left: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
nav{
    width: 30%;
    float: left;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  p{
    margin: 100px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }